<div class="container col-9">
    <br/>
    <h2>Asignar Folios para Recibos</h2>
    <hr>

    <form #formAsignarfolio="ngForm" class="ml-5" id="formAsignarfolio" name="">
        <div class="row">
            <div class="form-group row col-12">
                <label for="recipient-name" class="col-md-2 col-sm-12 col-form-label">Cajero:</label>
                <div class=" col-md-8 col-sm-12">
                    <select class="form-control" title="Cajero" name="cajero" type="text" #cajero="ngModel" [(ngModel)]="ngcajero" (change)="selectcajero()" required> 
                        <option selected>Escoge un cajero...</option>
                        <option *ngFor="let cajero of cajeros">{{cajero.nombre}}</option>
                    </select>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group row col-12">
                <label for="recipient-name" class="col-md-2 col-sm-12 col-form-label">Serie:</label>
                <div class=" col-md-8 col-sm-12">
                    <select class="form-control" title="Serie" name="Serie" type="text" #serie="ngModel" [(ngModel)]="seriename" (change)="selectSerie()" required> 
                        <option selected>Escoge una serie...</option>
                        <option *ngFor="let serie of seriesasignar">{{serie.serie}}</option>
                    </select>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group row col-12">
                <label class="col-md-2 col-sm-12 col-form-label">Folio Inicial:</label>
                <div class="col-md-8 col-sm-12">
                    <select class="form-control" title="folioinicial" name="folinicio" type="text" #folinicio="ngModel" [(ngModel)]="folioinicio" (change)="validarfolios(i)" required> 
                        <option selected>Folio...</option>
                        <option *ngFor="let folio of foliosserie; let i =index">{{folio.numeroFolio}}</option>
                    </select>
                    <!-- <input type="text" class="form-control" id="nombrecompleto" name="nombrecompleto" #nombrecompletoo="ngModel" [(ngModel)]="cajero.nombre" [class.error]="cajero.nombre && !cajero.nombre" readonly="readonly" /> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group row col-12">
                <label class="col-md-2 col-sm-12 col-form-label">Folio Final:</label>
                <div class="col-md-8 col-sm-12 input-group">
                    <select class="form-control" title="foliofinal" name="folfinal" type="text" #folfinal="ngModel" [(ngModel)]="foliofinal" (change)="validarfolios2(i)" required>
                        <option selected>Folio...</option>
                        <option *ngFor="let folio2 of foliosserie; let i =index">{{folio2.numeroFolio}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class=" row justify-content-center ">
            <button type="button" class="btn btn-success" data-dismiss="modal" [disabled]="!serieidbol || !foliniciobol || !folfinalbol || !cajerobol" (click)="asignarCajero();cambio()">Seleccionar</button>
        </div>
    </form>












    <button type="button" id="baja" class="btn btn-success mb-3" data-toggle="modal" data-target="#ModalAsignar" data-backdrop="static" data-keyboard="false">
            Seleccionar Folios
         </button>
    <button type="button" id="baja" class="btn btn-success mb-3" data-toggle="modal" data-target="#ModalAsignarCajero" data-backdrop="static" data-keyboard="false" [disabled]="!asignarfoliosbol">
                 Asignar Folios
          </button>
    <div class="row">
        <div class="col-2 d-flex justify-content-end">

            <input type="checkbox" id="mastercheckbox" name="mastercheckbox" (change)="seleccionarcheck2()" class="form-check-input ml-4">
        </div>
        <div class="col-3 d-flex justify-content-start">

            <label>Seleccionar Todo.</label>
        </div>
    </div>
    <table id="tablafolios" datatable class="table table-bordered table-sm table table-responsive" cellspacing="0">
        <!-- <table id="tablafolios" datatable [dtTrigger]="dtTrigger" class="table table-bordered " (change)="ngOnInit()" width="100%" cellspacing="0"> -->
        <thead>
            <tr>
                <th class="noicon"></th>
                <th>Folio</th>
                <th>Estado</th>
                <th>Cajero</th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr> -->
            <tr *ngFor="let foli of folios; let i=index">
                <td><input type="checkbox" id="check{{i}}" class="form-check-input ml-3" (change)="selectcheck2(i)" /></td>
                <td>
                    {{foli.serie.serie+foli.numeroFolio}}
                </td>
                <td>
                    {{foli.estadoFolio}}
                </td>
                <td>
                    {{(foli.cajero) ? foli.cajero.nombre : 'n/a' }}
                </td>
                <!-- <td>'{(cajero.nombrecajero)?cajero.nombrecajero:'n/a'}}'</td>
            <td>'{(cajero.fondo)?cajero.fondo:'0'}}'</td> -->
            </tr>
        </tbody>
    </table>
    <div class="col-12 justify-content-center d-flex">
        <button type="button" id="baja" class="btn btn-danger" data-toggle="modal" data-target="#ModalDesasignar" data-backdrop="static" data-keyboard="false">
            Desasignar Folios
        </button>
    </div>


    <button type="button" id="asd" class="btn btn-danger" data-toggle="modal" data-backdrop="static" data-keyboard="false" (click)="prueba()">
            SelectFolios
        </button>
</div>


<div class="modal fade bd-example-modal-sm" id="modalRegistrarfolio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="line-modal modal-header">
                <div [ngSwitch]="status">
                    <h5 class="modal-title" *ngSwitchCase="'successelim'"><i class="fa fa-check" aria-hidden="true"></i>Éxito</h5>
                    <h5 class="modal-title" *ngSwitchCase="'success'"><i class="fa fa-check" aria-hidden="true"></i>Éxito</h5>
                    <h5 class="modal-title" *ngSwitchCase="'successdesasignar'"><i class="fa fa-check" aria-hidden="true"></i> Éxito</h5>
                    <h5 class="modal-title" *ngSwitchCase="'errorelim'"><i class="fa fa-exclamation" aria-hidden="true"></i> Error</h5>
                    <h5 class="modal-title" *ngSwitchCase="'folioasig'"><i class="fa fa-exclamation" aria-hidden="true"></i> Error</h5>
                    <h5 class="modal-title" *ngSwitchCase="'errorasignar'"><i class="fa fa-exclamation" aria-hidden="true"></i> Error</h5>
                    <h5 class="modal-title" *ngSwitchCase="'nohayfolios'"><i class="fa fa-exclamation" aria-hidden="true"></i> Precaución</h5>
                </div>
            </div>
            <!--Empieza Modal AGREGA PRODUCTOS-->
            <div class="modal-body">
                <!--Número de folio & Fecha y hora-->
                <div [ngSwitch]="status" class="modal-body">
                    <p *ngSwitchCase="'successelim'"> Se ha desasignado el (los) folio(s) exitosamente.</p>
                    <p *ngSwitchCase="'success'">Se ha asigado el (los) folio(s) exitosamente.</p>
                    <p *ngSwitchCase="'successdesasignar'">Se ha(n) desasigado el (los) folio(s) exitosamente.</p>
                    <p *ngSwitchCase="'errorelim'"> Uno o más folios ya han sido desasignados.</p>
                    <p *ngSwitchCase="'folioasig'">Uno o más folios ya han sido asignados.</p>
                    <p *ngSwitchCase="'errorasignar'">Uno o mas folios ya han sido cancelados.</p>
                    <p *ngSwitchCase="'nohayfolios'">No hay folios para la serie seleccionada.</p>
                </div>
            </div>
            <fieldset class="form-group">
                <div class="modal-footer">

                </div>
            </fieldset>
        </div>
    </div>
</div>

<div class="modal fade " id="ModalDesasignar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="line-modal modal-header">
                <!--<div *ngIf="status=='error'" class="alert alert-danger modal1 mt-3" role="alert"></div>-->
                <h5 class="color-modal-label" id="exampleModalLabel">Información</h5>
            </div>
            <!--Empieza Modal AGREGA PRODUCTOS-->
            <div class="modal-body">
                <!--Número de folio & Fecha y hora-->
                <label>¿Desea Dar de Baja Definitiva los Folios Seleccionados?</label>
            </div>
            <fieldset class="form-group">
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit" data-dismiss="modal" (click)="eliminarvarios()" style="text-align:center">Aceptar</button>
                    <button class="btn btn-danger" type="submit" data-dismiss="modal" style="text-align:center">Cancelar</button>

                </div>
            </fieldset>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalAsignar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Seleccionar Folios</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group d-flex">
                        <div class="col-1">
                            <label for="recipient-name" class="col-form-label mr-3">Serie:</label>
                        </div>
                        <div class="col-6">
                            <select class="form-control ml-3" title="Serie" name="Serie" placeholder="series" type="text" #serie="ngModel" [(ngModel)]="seriename" (change)="selectSerie()" required> 
                            <option selected>Escoge una serie...</option>
                            <option *ngFor="let serie of seriesasignar">{{serie.serie}}</option>
                        </select>
                        </div>

                    </div>
                    <div class="form-group col-12">
                        <div class="col">
                            <label for="message-text" class="col-form-label">Folios:</label>
                        </div>
                    </div>
                    <div class="form-group d-flex">
                        <div class="col-5">
                            <select class="form-control" name="folinicio" type="text" #folinicio="ngModel" [(ngModel)]="folioinicio" (change)="validarfolios(i)" required> 
                                <option selected>Folio...</option>
                                <option *ngFor="let folio of foliosserie; let i =index">{{folio.numeroFolio}}</option>
                            </select>
                        </div>
                        <div class="col-2">
                            <label>  al  </label>
                        </div>
                        <div class="col-5">
                            <select class="form-control" name="folfinal" type="text" #folfinal="ngModel" [(ngModel)]="foliofinal" (change)="validarfolios2(i)" required>
                                <option selected>Folio...</option>
                                <option *ngFor="let folio2 of foliosserie; let i =index">{{folio2.numeroFolio}}</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" [disabled]="!serieidbol || !foliniciobol || !folfinal" (click)="cambio()">Seleccionar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-sm" id="ModalFolioError" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="line-modal modal-header">
                <!--<div *ngIf="status=='error'" class="alert alert-danger modal1 mt-3" role="alert"></div>-->
                <h5 class="color-modal-label" id="exampleModalLabel">Atención</h5>
            </div>
            <!--Empieza Modal AGREGA PRODUCTOS-->
            <div class="modal-body">
                <!--Número de folio & Fecha y hora-->
                <label>El Folio Inicial Debe ser Menor que el Folio Final</label>
            </div>
            <fieldset class="form-group">
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit" data-dismiss="modal" style="text-align:center">Aceptar</button>
                </div>
            </fieldset>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalAsignarCajero" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Asignar Folios</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body justify-content-center">
                <form>
                    <div class="form-group col-12 ">
                        <div class="col-12">
                            <label for="recipient-name" class="col-form-label mr-3">Serie:</label>
                            <label>{{serieid}}</label>
                        </div>

                    </div>
                    <div class="form-group col-12">
                        <div class="col">
                            <label for="message-text" class="col-form-label">Folio Inicio:</label>
                            <label>{{folioinicio}}</label>
                        </div>
                    </div>
                    <div class="form-group col-12">
                        <div class="col">
                            <label for="message-text" class="col-form-label">Folio Final:</label>
                            <label>{{foliofinal}}</label>
                        </div>
                    </div>
                    <div class="form-group d-flex">
                        <div class="col-1">
                            <label for="recipient-name" class="col-form-label mr-3">Cajero:</label>
                        </div>
                        <div class="col-6">
                            <select class="form-control ml-3" name="Cajero" type="text" #cajero="ngModel" [(ngModel)]="cajerom" (change)="selectcajero()"> 
                            <option selected>Seleccione un Cajero...</option>
                            <option *ngFor="let cajer of cajeros">{{cajer.nombre}}</option>
                        </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" (click)="asignarCajero();cambio()" [disabled]="!cajerobol">Asignar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-sm" id="ModalErrorCancelacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="line-modal modal-header">
                <!--<div *ngIf="status=='error'" class="alert alert-danger modal1 mt-3" role="alert"></div>-->
                <h5 class="color-modal-label" id="exampleModalLabel">Atención</h5>
            </div>
            <!--Empieza Modal AGREGA PRODUCTOS-->
            <div class="modal-body">
                <!--Número de folio & Fecha y hora-->
                <label>El Registro esta Cancelado</label>
            </div>
            <fieldset class="form-group">
                <div class="modal-footer">

                </div>
            </fieldset>
        </div>
    </div>
</div>
<!-- TERMINA Modal Error de cancelacion -->