<div class="container">
    <h2>Historial Folios de Pagos</h2>
    <hr>
    <table id="tablafolios" datatable class="table table-bordered table-sm table table-responsive" cellspacing="0">
        <!-- <table id="tablafolios" datatable [dtTrigger]="dtTrigger" class="table table-bordered " (change)="ngOnInit()" width="100%" cellspacing="0"> -->
        <thead>
            <tr>
                <th><input type="checkbox" id="mastercheckbox" name="mastercheckbox" (change)="seleccionarcheck()" class="form-check-input ml-3"></th>
                <th>No. de folio</th>
                <th>Estado</th>
                <th>Cajero</th>
            </tr>
        </thead>

        <tbody>
            <!-- <tr> -->
            <tr *ngFor="let folio of folios; let i=index">
                <td><input type="checkbox" id="{{i}}" class="form-check-input ml-3" (change)="selectcheck(i)" /></td>
                <td>
                    {{folio.numeroFolio}}
                </td>
                <td>
                    {{folio.estadoFolio}}
                </td>
                <!-- <td>'{(cajero.nombrecajero)?cajero.nombrecajero:'n/a'}}'</td>
            <td>'{(cajero.fondo)?cajero.fondo:'0'}}'</td> -->
            </tr>
        </tbody>
    </table>

    <button type="button" id="baja" class="btn btn-danger" data-toggle="modal" data-target="#ModalBajaDefinitivaVale" data-backdrop="static" data-keyboard="false">
   Baja Definitiva
</button>
</div>