<div class="col-12">
    <table class="table">
        <thead>
            <tr>
                <th>Caja</th>
                <th>Cajero</th>
                <th>Fondo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Caja 1</th>
                <td>Mark</td>
                <td>500</td>
            </tr>
            <tr>
                <th scope="row">Caja 2</th>
                <td>Jacob</td>
                <td>400</td>
            </tr>
        </tbody>
    </table>
</div>