<div class="container col-12">
    <h2 class="mt-4 d-flex">Asignar Fondo</h2>
    <!-- Alerts para la confirmacion de si se ha asignado un fondo a una cajero -->
    <div class="alert alert-success d-flex" role="alert">
        Fondo asignado correctamente!
    </div>

    <!-- Inputs para seleccionar a los cajeros disponibles y el monto del fondo -->
    <div class="row align-items-center">
        <div class="col-8 mt-4 d-flex">
            <div class="form-group col-4">
                <label>Seleccionar Cajero:</label>
                <select class="form-control" placeholder="Seleccionar Cajero">
        <option>Caja 1</option>
        <option>Caja 2</option>
      </select>
            </div>
            <div class="form-group col-4">
                <label for="sel1">Fondo:</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <!-- Boton de asignar fondo a un cajero -->
        <div class="col-2">
            <button class="btn btn-success btn-lg">Asignar</button>
        </div>
    </div>

    <!-- Comienza la tabla de fondo asignado a los cajeros -->
    <div class="row">
        <div class="col-12">
            <!-- Router-outlet para llamar a los archivos que contienen las tablas de asignadas y pendientes -->
            <router-outlet></router-outlet>
        </div>
    </div>
</div>