<div class="container">
    <h1 title="Alta de Series en Pagos">{{title}}</h1>
    <hr>
    <!-- Alerts para la confirmacion de si se ha asignado un cajero a una caja -->

    <!-- Inputs para seleccionar la caja y a los cajeros disponibles -->

    <form #formAltaSeries="ngForm" (ngSubmit)="onSubmit()" id="" name="">
        <!--Nombre-->
        <div class="form-group row">
            <label name="name" class="col-sm-2 col-form-label" for="nombre" title="Ingresar nombre para serie" [class.errorLabel]="nombre.touched && !nombre.valid">Nombre: </label>
            <div class="col-sm-8">
                <input type="text" class="form-control" title="Ingresar nombre para serie" id="nombre" name="nombre" placeholder="Ingresar nombre para serie" #nombre="ngModel" [(ngModel)]="altaserie.nombre" [class.error]="nombre.touched && !nombre.valid" minlength="2"
                    maxlength="100" required/>
            </div>


            <!--VALIDACIÓN DE NOMBRE-->

            <div class="col-5 d-flex justify-content-start invalid-feedback" *ngIf="nombre.touched && !nombre.valid">
                <span class="err" *ngIf="nombre.errors.required" title="El campo nombre es obligatorio"><small>El campo nombre es obligatorio</small></span>
                <span class="err" *ngIf="nombre.errors.minlength" title="longitud mínima de caracteres que conforman el nombre es de al menos 2 caracteres."><small>longitud mínima de caracteres que conforman el nombre es de al menos 2 caracteres.</small></span>
            </div>

        </div>
        <!--TERMINA VALIDACIÓN DE NOMBRE-->

        <!--TERMINA Nombre-->
        <div class="form-group row">
            <!--DESCRIPCIÓN-->
            <label name="descripcion" class="col-sm-2 col-form-label" for="descripcion" title="Ingresar descripción" [class.errorLabel]="descripcion.touched && !descripcion.valid">Descripción: </label>
            <div class="col-sm-8">

                <input type="text" class="form-control" title="Ingresar descripción" id="descripcion" name="descripcion" placeholder="Ingresar descripción" #descripcion="ngModel" [(ngModel)]="altaserie.descripcion" [class.error]="descripcion.touched && !descripcion.valid"
                    minlength="2" maxlength="100" required />
            </div>

            <!--VALIDACIÓN DE DESCRIPCIÓN-->

            <div class="col-10 d-flex justify-content-start invalid-feedback" *ngIf="descripcion.touched && !descripcion.valid">
                <span class="err" *ngIf="descripcion.errors.required" title="El apellido paterno es obligatorio."><small>La descripción es obligatoria.</small></span>
                <span class="err" *ngIf="descripcion.errors.minlength" title="La longitud mínima de caracteres que conforman el apellido paterno es de al menos 2 caracteres."><small>La longitud mínima de caracteres que conforman el apellido paterno es de al menos 2 caracteres.</small></span>
                <!--<span class="err" *ngIf="descripcion.errors.pattern" title="Extención no valida"><small>Extención no valida</small></span>-->
            </div>

        </div>
        <!--TERMINA VALIDACIÓN DE DESCRIPCIÓN-->
        <!--BOTÓN GUARDAR REGISTRO USUARIO-->

        <div class="offset-xs-3 col-xs-9 form-inline">
            <button type="submit" class="btn btn-success" [disabled]="!formAltaSeries.form.valid" title="Realizar Alta">Realizar Alta</button>
        </div>
        <!--TERMINA BOTÓN GUARDAR REGISTRO USUARIO
            data-toggle="modal" data-target="#modalConfirmaRe"
        [disabled]="!formAltaSeries.form.valid" -->

    </form>

    <hr>
</div>

<!-- Modal CONFIRMACIÓN DE REGISTRO -->
<!-- Modal -->
<div class="modal fade bd-example-modal-sm" id="modalConfirmaRe" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" #modalConfirmaRe>
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="line-modal modal-header">
                <!--<div *ngIf="status=='error'" class="alert alert-danger modal1 mt-3" role="alert"></div>-->
                <h5 class="color-modal-label" id="exampleModalLabel">Información</h5>
            </div>
            <!--Empieza Modal AGREGA PRODUCTOS-->
            <div class="modal-body">
                <!--Número de folio & Fecha y hora-->
                <label>Se ha registrado la serie con éxito</label>
            </div>
            <fieldset class="form-group">
                <div class="modal-footer">

                </div>
            </fieldset>
        </div>
    </div>
</div>
<!-- TERMINA Modal CONFIRMACIÓN DE REGISTRO -->

<!-- Modal CONFIRMACIÓN DE REGISTRO ERR -->
<!-- Modal -->
<div class="modal fade bd-example-modal-sm" id="modalConfirmaReErr" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" #modalConfirmaReErr>
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="line-modal modal-header">
                <!--<div *ngIf="status=='error'" class="alert alert-danger modal1 mt-3" role="alert"></div>-->
                <h5 class="color-modal-label" id="exampleModalLabel">Información</h5>
            </div>
            <!--Empieza Modal AGREGA PRODUCTOS-->
            <div class="modal-body">
                <!--Número de folio & Fecha y hora-->
                <label>Ups! ha ocurrido un problema.</label>
            </div>
            <fieldset class="form-group">
                <div class="modal-footer">

                </div>
            </fieldset>
        </div>
    </div>
</div>
<!-- TERMINA Modal CONFIRMACIÓN DE REGISTRO ERR -->