<div class="container mt-3">
    <h1 >Alta de Series</h1>
    <hr>
    <!-- Alerts para la confirmacion de si se ha asignado un cajero a una caja -->

    <!-- Inputs para seleccionar la caja y a los cajeros disponibles -->

    <form #formAltaSeries="ngForm" id="" name="">
        <!--Nombre-->
        <div class="form-group row">
            <label name="name" class="col-sm-2 col-form-label" for="nombre" title="Ingresar nombre para serie" [class.errorLabel]="nombre.touched && !nombre.valid">Nombre: </label>
            <div class="col-sm-8">
                <input type="text" class="form-control" title="Ingresar nombre para serie" id="nombre" name="nombre" placeholder="Ingresar nombre para serie" #nombre="ngModel" [(ngModel)]="altaserie.nombre" [class.error]="nombre.touched && !nombre.valid" minlength="2"
                    maxlength="100" required pattern="[a-zA-Z]+" />
            </div>


            <!--VALIDACIÓN DE NOMBRE-->

            <div class="col-5 d-flex justify-content-start invalid-feedback" *ngIf="nombre.touched && !nombre.valid">
                <span class="err" *ngIf="nombre.errors.required" title="El campo nombre es obligatorio"><small>El campo nombre es obligatorio</small></span>
                <span class="err" *ngIf="nombre.errors.minlength" title="longitud mínima de caracteres que conforman el nombre es de al menos 2 caracteres."><small>longitud mínima de caracteres que conforman el nombre es de al menos 2 caracteres.</small></span>
                <span class="err" *ngIf="nombre.errors.pattern" title="Extención no valida"><small>Extención no valida</small></span>
            </div>

        </div>
        <!--TERMINA VALIDACIÓN DE NOMBRE-->

        <!--TERMINA Nombre-->
        <div class="form-group row">
            <!--DESCRIPCIÓN-->
            <label name="descripcion2" class="col-sm-2 col-form-label" for="descripcion2" title="Ingresar descripción" [class.errorLabel]="descripcion2.touched && !descripcion.valid">Descripción: </label>
            <div class="col-sm-8">

                <input type="text" class="form-control" title="Ingresar descripción" id="descripcion" name="descripcion" placeholder="Ingresar descripción" #descripcion="ngModel" [(ngModel)]="altaserie.descripcion" [class.error]="descripcion.touched && !descripcion.valid"
                    minlength="2" maxlength="100" required pattern="[a-zA-Z]+" />
            </div>

            <!--VALIDACIÓN DE DESCRIPCIÓN-->

            <div class="col-10 d-flex justify-content-start invalid-feedback" *ngIf="descripcion.touched && !descripcion.valid">
                <span class="err" *ngIf="descripcion.errors.required" title="El apellido paterno es obligatorio."><small>El apellido paterno es obligatorio.</small></span>
                <span class="err" *ngIf="descripcion.errors.minlength" title="La longitud mínima de caracteres que conforman el apellido paterno es de al menos 2 caracteres."><small>La longitud mínima de caracteres que conforman el apellido paterno es de al menos 2 caracteres.</small></span>
                <span class="err" *ngIf="descripcion.errors.pattern" title="Extención no valida"><small>Extención no valida</small></span>
            </div>

        </div>
        <!--TERMINA VALIDACIÓN DE DESCRIPCIÓN-->
        <!--BOTÓN GUARDAR REGISTRO USUARIO-->

        <div class="offset-xs-3 col-xs-9 form-inline">
            <button type="submit" class="btn btn-success" title="Realizar Alta" data-toggle="modal" data-target="#modalConfirmaRe">Realizar Alta</button>
        </div>
        <!--TERMINA BOTÓN GUARDAR REGISTRO USUARIO
        [disabled]="!formAltaSeries.form.valid" -->

    </form>

    <hr>
</div>

<!-- Modal CONFIRMACIÓN DE REGISTRO -->
<!-- Modal -->
<div class="modal fade bd-example-modal-sm" id="modalConfirmaRe" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="line-modal modal-header">
                <!--<div *ngIf="status=='error'" class="alert alert-danger modal1 mt-3" role="alert"></div>-->
                <h5 class="color-modal-label" id="exampleModalLabel">Información</h5>
            </div>
            <!--Empieza Modal AGREGA PRODUCTOS-->
            <div class="modal-body">
                <!--Número de folio & Fecha y hora-->
                <label>Se ha registrado la serie con éxito</label>
            </div>
            <fieldset class="form-group">
                <div class="modal-footer">

                </div>
            </fieldset>
        </div>
    </div>
</div>
<!-- TERMINA Modal CONFIRMACIÓN DE REGISTRO -->


<!-- S E R I E S  E N  V A L E S -->

<div class="container">
    <h1 title="Alta de Series en Pagos">{{title2}}</h1>
    <hr>
    <!-- Alerts para la confirmacion de si se ha asignado un cajero a una caja -->

    <!-- Inputs para seleccionar la caja y a los cajeros disponibles -->

    <form #formAltaSeries="ngForm" id="" name="">
        <!--Nombre-->
        <div class="form-group row">
            <label name="nombre2" class="col-sm-2 col-form-label" for="nombre2" title="Ingresar nombre2 para serie" [class.errorLabel]="nombre2.touched && !nombre2.valid">Nombre2: </label>
            <div class="col-sm-8">
                <input type="text" class="form-control" title="Ingresar nombre2 para serie" id="nombre2" name="nombre2" placeholder="Ingresar nombre2 para serie" #nombre2="ngModel" [(ngModel)]="altaserieVale.nombre2" [class.error]="nombre2.touched && !nombre2.valid"
                    minlength="2" maxlength="100" required pattern="[a-zA-Z]+" />
            </div>
            <br/>

            <!--VALIDACIÓN DE NOMBRE2-->

            <div class="col-10 d-flex justify-content-start invalid-feedback" *ngIf="nombre2.touched && !nombre2.valid">
                <span class="err" *ngIf="nombre2.errors.required" title="El campo nombre2 es obligatorio"><small>El campo nombre2 es obligatorio</small></span>
                <span class="err" *ngIf="nombre2.errors.minlength" title="longitud mínima de caracteres que conforman el nombre2 es de al menos 2 caracteres."><small>longitud mínima de caracteres que conforman el nombre2 es de al menos 2 caracteres.</small></span>
                <span class="err" *ngIf="nombre2.errors.pattern" title="Extención no valida"><small>Extención no valida</small></span>
            </div>

        </div>
        <!--TERMINA VALIDACIÓN DE NOMBRE2-->

        <!--TERMINA Nombre2-->
        <div class="form-group row">
            <!--DESCRIPCIÓN-->
            <label name="descripcion2" class="col-sm-2 col-form-label" for="descripcion2" title="Ingresar descripción" [class.errorLabel]="descripcion2.touched && !descripcion2.valid">Descripción: </label>
            <div class="col-sm-8">

                <input type="text" class="form-control" title="Ingresar descripción" id="descripcion2" name="descripcion2" placeholder="Ingresar descripción" #descripcion2="ngModel" [(ngModel)]="altaserieVale.descripcion2" [class.error]="descripcion2.touched && !descripcion2.valid"
                    minlength="2" maxlength="100" required pattern="[a-zA-Z]+" />
            </div>

            <!--VALIDACIÓN DE DESCRIPCIÓN-->

            <div class="col-10 d-flex justify-content-start invalid-feedback" *ngIf="descripcion2.touched && !descripcion2.valid">
                <span class="err" *ngIf="descripcion2.errors.required" title="El apellido paterno es obligatorio."><small>El apellido paterno es obligatorio.</small></span>
                <span class="err" *ngIf="descripcion2.errors.minlength" title="La longitud mínima de caracteres que conforman el apellido paterno es de al menos 2 caracteres."><small>La longitud mínima de caracteres que conforman el apellido paterno es de al menos 2 caracteres.</small></span>
                <span class="err" *ngIf="descripcion2.errors.pattern" title="Extención no valida"><small>Extención no valida</small></span>
            </div>

        </div>
        <!--TERMINA VALIDACIÓN DE DESCRIPCIÓN-->
        <!--BOTÓN GUARDAR REGISTRO USUARIO-->

        <div class="offset-xs-3 col-xs-9 form-inline">
            <button type="submit" class="btn btn-success" title="Realizar Alta" data-toggle="modal" data-target="#modalConfirmaVa">Realizar Alta</button>
        </div>
        <!--TERMINA BOTÓN GUARDAR REGISTRO USUARIO
        [disabled]="!formaltaserieVales.form.valid" -->

    </form>

    <hr>
</div>
<!-- Modal CONFIRMACIÓN DE REGISTRO -->
<!-- Modal -->
<div class="modal fade bd-example-modal-sm" id="modalConfirmaVa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="line-modal modal-header">
                <!--<div *ngIf="status=='error'" class="alert alert-danger modal1 mt-3" role="alert"></div>-->
                <h5 class="color-modal-label" id="exampleModalLabel">Información</h5>
            </div>
            <!--Empieza Modal AGREGA PRODUCTOS-->
            <div class="modal-body">
                <!--Número de folio & Fecha y hora-->
                <label>Se ha registrado la serie con éxito</label>
            </div>
            <fieldset class="form-group">
                <div class="modal-footer">

                </div>
            </fieldset>
        </div>
    </div>
</div>
<!-- TERMINA Modal CONFIRMACIÓN DE REGISTRO -->