<!--The content below is only a placeholder and can be replaced.-->
<!-- Aqui se va a poner la nav -->
<nav class="navbar navbar-expand-sm navsistema">
    <a class="navbar-brand navlet" href="#">
        <img src="/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt=""> Sistema
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle droptext" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Supervisor
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" [routerLink]="['supervisor/asignar-fondo']">Action</a>
                    <a class="dropdown-item" [routerLink]="['supervisor/asignar-fondo']">Another action</a>
                    <a class="dropdown-item" [routerLink]="['supervisor/asignar-fondo']">Something else here</a>
                </div>
            </li>
        </ul>
    </div>
</nav>


<!-- Menu de opciones -->
<nav class="navbar navbar-expand-md navbar-light bg-light navmenu">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fw" style=" cursor: pointer !important" href="#" [routerLinkActive]="['active']" id="DropCaja" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Caja </a>
                <ul class="dropdown-menu" aria-labelledby="DropCaja">
                    <li class="dropdown-submenu">
                        <a class="dropdown-item" [routerLink]="['supervisor/asignar-caja']">Asignación de Caja</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link fw" href="#" [routerLinkActive]="['active']" [routerLink]="['cajero/recibos']">Recibos</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fw" href="#" [routerLinkActive]="['active']" id="DropSerie" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Series</a>
                <ul class="dropdown-menu" aria-labelledby="DropSerie">
                    <li class="dropdown-submenu">
                        <a class="dropdown-item" [routerLink]="['supervisor/alta-pago']">Series de Pago</a>
                        <a class="dropdown-item" [routerLink]="['supervisor/alta-vale']">Series de Vales</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fw" href="#" [routerLinkActive]="['active']" id="DropFolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Folios</a>
                <ul class="dropdown-menu" aria-labelledby="DropFolio">
                    <li class="dropdown-submenu">
                        <a class="dropdown-item" [routerLink]="['supervisor/folios']" id="DropPagos" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Folios de Pagos</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" [routerLink]="['supervisor/historial-pago']">Historial de Pagos</a>
                            </li>
                            <li>
                                <a class="dropdown-item" [routerLink]="['supervisor/altas-bajas-folio-pago']">Alta y Baja de Pagos</a>
                            </li>
                            <li>
                                <a class="dropdown-item" [routerLink]="['supervisor/baja-folio-pago']">Asignar y Desasignar Pagos</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item" [routerLink]="['supervisor/folios']" id="DropVales" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Folios de Vales</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" [routerLink]="['supervisor/historial-vale']">Historial de Vales</a>
                            </li>
                            <li>
                                <a class="dropdown-item" [routerLink]="['supervisor/altas-bajas-folio-vale']">Alta y Baja de Vales</a>
                            </li>
                            <li>
                                <a class="dropdown-item" [routerLink]="['supervisor/baja-folio-vale']">Asignar y Desasignar Vales</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </li>
            <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle fw" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown link
              </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="inicio">
        <a class="nav-link fw" [routerLink]="['login']">Iniciar Sesion</a>
    </div>
</nav>



<!-- <div class="container" (click)="cerrarCaja()" *ngIf="isAuth(['CAJA_CAJERO'])"> -->
<!-- <div class="container" (click)="cerrarCaja()">
    <button class="btn-corte-g btn"><span>Cerrar caja</span></button>
</div> -->

<!-- <div class="container" *ngIf="isAuth(['CAJA_SUPERVISOR'])"> -->
<!-- <div class="container">
    <button class="btn-corte-g btn" [routerLink]="['CorteGeneral']"><span>Corte general</span></button>
</div> -->
<!-- <app-modal [modal]="modal" (hide)="modalHide()">
</app-modal> -->




<router-outlet></router-outlet>