<div class="container col-9">
    <h2 class="mt-4 d-flex">Asignar Caja</h2>
    <hr>

    <!-- Inputs para seleccionar la caja y a los cajeros disponibles -->
    <div class="row align-items-center">
        <form class="form" #form="ngForm" id="form" name="form">
            <div class="col-12 mt-3 d-flex">
                <div class="form-group col-3">
                    <label>Seleccionar Caja:</label>
                    <select class="form-control" #cajaselect="ngModel" [(ngModel)]="caja.nombre" name="cajaselect" (change)="seleccCaja();verificarCantidad()">
                    <option value="">Seleccionar Caja...</option>
                    <option *ngFor="let caja of cajas" >{{caja.nombre}}</option>
                </select>
                </div>
                <div class="form-group col-3">
                    <label for="sel1">Seleccionar Cajero:</label>
                    <select class="form-control" #cajeroselect="ngModel" [(ngModel)]="cajero.nombre" (change)="seleccCajero();verificarCantidad()" name="cajeroselect">
                    <option>{{ (cajerosbol) ? 'Seleccionar cajero' : 'No hay cajeros para mostrar.' }}</option>
                    <option *ngFor="let cajero of cajeros">{{(cajero.nombre)}}</option>
                </select>
                </div>
                <div class="col-3">
                    <label>Fondo:</label>
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="text" id="caj" class="form-control" name="caj" #caj="ngModel" [(ngModel)]="cajerofondo" maxlength=16 (keyup)="verificarCantidad()" required pattern="[0-9][0-9]*(.([0-9][0-9]))?$">
                    </div>
                    <div class="col-12 d-flex justify-content-start invalid-feedback" *ngIf="caj.dirty && !caj.valid">
                        <span class="err" *ngIf="caj.errors?.required">
                                         Este Campo es Requerido.
                                    </span>
                        <span class="err" *ngIf="caj.errors?.pattern">
                                        Ingresar un Formato Válido.
                            </span>
                    </div>
                </div>
                <!-- Boton de asignar un cajero a una caja -->
                <div class="col-3 align-items-center mt-4 d-flex">
                    <button class="btn btn-primary btn-lg" (click)="onSubmit()" [disabled]="!cajabol || !cajerobol || !fondobol  || !caj.valid" [class.error]="!disabled" [class.bien]="disabled">Asignar</button>
                    <button *ngIf="modbol" class="btn btn-success btn-lg ml-2" (click)="cambiarfondo()">Modificar Fondo</button>
                    <button *ngIf="!modbol" class="btn btn-danger btn-lg ml-2" (click)="cambiarfondo();cancelfondo()">Cancelar</button>
                </div>
            </div>
        </form>


    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <table id="tabla" datatable class="table table-bordered " width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Caja</th>
                            <th>Cajero</th>
                            <th>Fondo</th>
                            <th>Estado</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let cajero of DataArray; let i=index">
                            <th scope="row">{{cajero.nombre}}</th>
                            <td>{{ (cajero.nombrecajero) ? cajero.nombrecajero : 'n/a'}}</td>
                            <td> {{(cajero.fondo)?cajero.fondo:'0'}}</td>
                            <td>{{cajero.estatus}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>




    <div class="modal fade" id="ModalError" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <div [ngSwitch]="status">
                        <h5 class="modal-title" *ngSwitchCase="'errordesasignar'"><i class="fa fa-exclamation" aria-hidden="true"></i>Error al Desasignar</h5>
                        <h5 class="modal-title" *ngSwitchCase="'error'"><i class="fa fa-exclamation" aria-hidden="true"></i>Error al Asignar</h5>
                        <h5 class="modal-title" *ngSwitchCase="'cajaelim'"><i class="fa fa-check" aria-hidden="true"></i>Éxito</h5>
                        <h5 class="modal-title" *ngSwitchCase="'cajaerror'"><i class="fa fa-exclamation" aria-hidden="true"></i>Error</h5>
                        <h5 class="modal-title" *ngSwitchCase="'fondomayor'"><i class="fa fa-exclamation" aria-hidden="true"></i>Error</h5>
                        <h5 class="modal-title" *ngSwitchCase="'fondoiguala0'"><i class="fa fa-exclamation" aria-hidden="true"></i>Error</h5>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                </div>

                <div [ngSwitch]="status" class="modal-body">
                    <p *ngSwitchCase="'errordesasignar'">No se puede desasignar una caja a menos que se Encuentre en Estado <strong>PENDIENTE</strong></p>
                    <p *ngSwitchCase="'error'">No se ha Asignado la Caja.</p>
                    <p *ngSwitchCase="'cajaelim'">Caja desasignada.</p>
                    <p *ngSwitchCase="'cajaerror'">Error desasignando caja.</p>
                    <p *ngSwitchCase="'fondomayor'">Fondo mayor a lo permitido, Ejemplo de formato permitido: 12345678.00 (8 dígitos enteros + 2 decimales).</p>
                    <p *ngSwitchCase="'fondoiguala0'">El fondo es igual o menor a cero.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="ModalCajaAsignada" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-hidden="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><i class="fa fa-check" aria-hidden="true"></i>Éxito</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                </div>
                <div class="modal-body">
                    <p>Se ha asignado la caja <strong>{{cajaasignada}}</strong> al cajero <strong>{{cajeroasignado}}</strong></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>