<div class="container col-12">
    <h2 class="mt-4 d-flex">Asignar Caja</h2>
    <!-- Alerts para la confirmacion de si se ha asignado un cajero a una caja -->
    <div class="alert alert-success d-flex" role="alert">
        This is a success alert—check it out!
    </div>

    <!-- Inputs para seleccionar la caja y a los cajeros disponibles -->
    <div class="row align-items-center">
        <div class="col-8 mt-4 d-flex">
            <div class="form-group col-4">
                <label>Seleccionar Caja:</label>
                <select class="form-control" placeholder="Seleccionar Caja">
        <option>Caja 1</option>
        <option>Caja 2</option>
      </select>
            </div>
            <div class="form-group col-4">
                <label for="sel1">Seleccionar Cajero:</label>
                <select class="form-control" placeholder="Seleccionar Cajero">
        <option>Maira</option>
       <option>Pedro</option>
      </select>
            </div>
        </div>
        <!-- Boton de asignar un cajero a una caja -->
        <div class="col-2">
            <button class="btn btn-success btn-lg">Asignar</button>
        </div>
    </div>

    <!-- Comienza las tablas de cajas asignadas y la de cajas pendientes -->
    <div class="row">
        <div class="col-12">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['cajas-asignadas']" [routerLinkActive]="['active']">Cajas Asignadas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['cajas-pendientes']" [routerLinkActive]="['active']">Cajas Pendientes</a>
                </li>
            </ul>
            <!-- Router-outlet para llamar a los archivos que contienen las tablas de asignadas y pendientes -->
            <router-outlet></router-outlet>
        </div>
    </div>
</div>