<div class="container col-9">
    <br/>
    <h2>Alta de Folios para Recibos</h2>
    <hr>
    <!-- Inputs para seleccionar la caja y a los cajeros disponibles -->

    <form #formAltaSeries="ngForm" id="formAltaSeries" name="">

        <div class="form-group row">
            <label name="serie" class="col-sm-2 col-form-label" for="serie" title="Serie" [class.errorLabel]="serie.touched && !serie.valid">Serie: </label>
            <div class="col-sm-8">
                <select class="form-control" id="exampleFormControlSelect1" title="Serie" name="Serie" placeholder="series" type="text" #serie="ngModel" [(ngModel)]="seriename" (change)="selectSerie()" required> <!--(change)="sacarCategoria($event.target.value)"-->
                <option selected>Seleccione una Categoria...</option>
                <option *ngFor="let serie of series">{{serie.serie}}</option>
            </select>
            </div>

        </div>

        <!--FOLIO-->
        <div class="form-group row">
            <label name="folioinput" class="col-sm-2 col-form-label" for="folio" title="Folio Inicial" [class.errorLabel]="folio.touched && !folio.valid">Folio Inicial: </label>
            <div class="col-sm-8">
                <input type="text" class="form-control" title="Folio Inicial" id="folio" name="folio" autocomplete="off" placeholder="Inserte el folio" #folio="ngModel" [(ngModel)]="cantfolios" [class.error]="folio.touched && !folio.valid" maxlength="40" (keyup)="asignarfolios2()"
                    step=0.01 required pattern="[1-9][0-9]*$" />
            </div>
            <!--VALIDACIÓN DE FOLIO-->
            <div class="col-5 d-flex justify-content-start invalid-feedback" *ngIf="folio.dirty && !folio.valid">
                <span class="err" *ngIf="folio.errors.required" title="El campo folio es obligatorio"><small>El Campo Folio es Obligatorio</small></span>
                <span class="err" *ngIf="folio.errors.pattern"><small>Sólo Puede Ingresar Números Entreros.</small></span>
            </div>

        </div>
        <!--TERMINA VALIDACIÓN DE FOLIO-->

        <!--TERMINA FOLIO-->
        <div class="form-group row">
            <!--CANTIDAD-->
            <label name="cantidad" class="col-sm-2 col-form-label" for="cantidad" title="Cantidad" [class.errorLabel]="cantidad.dirty && !cantidad.valid">Cantidad: </label>
            <div class="col-sm-8">

                <input type="text" class="form-control" title="Cantidad" id="Cantidad" name="cantidad" autocomplete="off" placeholder="Inserte la cantidad" #cantidad="ngModel" [(ngModel)]="cantidades" [class.error]="cantidad.touched && !cantidad.valid" (keyup)="asignarfolios()"
                    step=0.01 required pattern="[1-9][0-9]*$" maxlength="30" />
                <!-- con decimales pattern="[1-9][0-9]*.([0-9][0-9])$"-->
            </div>

            <!--VALIDACIÓN DE CANTIDAD-->

            <div class="col-10 d-flex justify-content-start invalid-feedback" *ngIf="cantidad.dirty && !cantidad.valid">
                <span class="err" *ngIf="cantidad.errors.required" title="El Apellido Paterno es Obligatorio."><small>Ingresa la cantidad.</small></span>
                <span class="err" *ngIf="cantidad.errors.pattern" title="Extención No Valida"><small>Sólo Puede Ingresar Números Enteros.</small></span>
            </div>

        </div>
        <div class="row">
            <label name="foliof" class="col-sm-2 col-form-label" for="foliofinal" title="Folio Final">Folio Final: </label>
            <div class="col-sm-8">
                <input type="text" class="form-control" title="Folio final" id="foliofinal" [(ngModel)]="folfinal" #foliofinal="ngModel" name="foliofinal" readOnly="readOnly" (change)="cambiofoliofinal()" minlength="2" maxlength="10" />
            </div>
        </div>
        <!--TERMINA VALIDACIÓN DE CANTIDAD-->

        <!--BOTÓN GUARDAR REGISTRO USUARIO-->

        <div class="offset-xs-3 mt-3 col-xs-9 form-inline">
            <button type="submit" class="btn btn-success" title="Realizar Alta" data-toggle="modal" (click)="onSubmit()" [disabled]="!formAltaSeries.form.valid || !seriebol">Guardar</button>
        </div>
        <!--TERMINA BOTÓN GUARDAR REGISTRO USUARIO
        [disabled]="!formAltaSeries.form.valid" -->

    </form>

    <hr>


    <h2>Baja de Folios</h2>
    <div class="row">
        <div class="col-1 d-flex justify-content-end">

            <input type="checkbox" id="mastercheckbox" name="mastercheckbox" (change)="seleccionarcheck2()" class="form-check-input ml-4">
        </div>
        <div class="col d-flex justify-content-start">

            <label>Seleccionar Todo.</label>
        </div>
    </div>
    <table id="tablafolios" datatable class="table table-bordered table-sm table table-responsive" cellspacing="0">
        <thead>
            <tr>
                <th class="noicon"></th>
                <th>Folio</th>
                <th>Estado</th>
                <th>Cajero</th>
            </tr>
        </thead>

        <tbody>
            <!-- <tr> -->
            <tr *ngFor="let folio of folios; let i=index">
                <td><input type="checkbox" id="check{{i}}" class="form-check-input ml-3" (change)="selectcheck2(i)" /></td>
                <td>
                    {{folio.serie.serie+folio.numeroFolio}}
                </td>
                <td>
                    {{folio.estadoFolio}}
                </td>
                <td>{{ (folio.cajero) ? folio.cajero.nombre : 'n/a'}}</td>
            </tr>
        </tbody>
    </table>

    <button type="button" id="baja" class="btn btn-danger" data-toggle="modal" data-target="#ModalBajaDefinitivaVale" data-backdrop="static" data-keyboard="false">
       Baja Definitiva
    </button>
</div>

<div class="modal fade bd-example-modal-sm" id="ModalBajaDefinitivaVale" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="line-modal modal-header">
                <!--<div *ngIf="status=='error'" class="alert alert-danger modal1 mt-3" role="alert"></div>-->
                <h5 class="color-modal-label" id="exampleModalLabel">Alerta</h5>
            </div>
            <!--Empieza Modal AGREGA PRODUCTOS-->
            <div class="modal-body">
                <!--Número de folio & Fecha y hora-->

                <label>¿Desea Dar de Baja Befinitiva los Folios Seleccionados?</label>
            </div>
            <fieldset class="form-group">
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit" data-dismiss="modal" (click)="eliminarvarios()" style="text-align:center">Aceptar</button>
                    <button class="btn btn-danger" type="submit" data-dismiss="modal" style="text-align:center">Cancelar</button>

                </div>
            </fieldset>
        </div>
    </div>
</div>
<!-- Modal CONFIRMACIÓN DE REGISTRO -->

<!-- Modal -->
<div class="modal fade bd-example-modal-sm" id="ModalErrorCancelacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="line-modal modal-header">
                <!--<div *ngIf="status=='error'" class="alert alert-danger modal1 mt-3" role="alert"></div>-->
                <h5 class="color-modal-label" id="exampleModalLabel">Atención</h5>
            </div>
            <!--Empieza Modal AGREGA PRODUCTOS-->
            <div class="modal-body">
                <!--Número de folio & Fecha y hora-->
                <label>El Registro esta Cancelado</label>
            </div>
            <fieldset class="form-group">
                <div class="modal-footer">

                </div>
            </fieldset>
        </div>
    </div>
</div>
<!-- TERMINA Modal Error de cancelacion -->

<!-- Modal -->
<div class="modal fade bd-example-modal-sm" id="modalRegistrarfolio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="line-modal modal-header">
                <div [ngSwitch]="status">
                    <h5 class="modal-title" *ngSwitchCase="'folioexist'"><i class="fa fa-exclamation" aria-hidden="true"></i>Error</h5>
                    <h5 class="modal-title" *ngSwitchCase="'error'"><i class="fa fa-exclamation" aria-hidden="true"></i>Error</h5>
                    <h5 class="modal-title" *ngSwitchCase="'success'"><i class="fa fa-check" aria-hidden="true"></i>Éxito</h5>
                    <h5 class="modal-title" *ngSwitchCase="'elimsuccess'"><i class="fa fa-check" aria-hidden="true"></i>Éxito</h5>
                    <h5 class="modal-title" *ngSwitchCase="'elimerror'"><i class="fa fa-exclamation" aria-hidden="true"></i>Error</h5>
                </div>
            </div>
            <!--Empieza Modal AGREGA PRODUCTOS-->
            <div class="modal-body">
                <!--Número de folio & Fecha y hora-->
                <div [ngSwitch]="status" class="modal-body">
                    <p *ngSwitchCase="'folioexist'">El Folio ya Existe.</p>
                    <p *ngSwitchCase="'error'">Folio No Resgistrado.</p>
                    <p *ngSwitchCase="'success'">Los Folios se Registraron con Éxito.</p>
                    <p *ngSwitchCase="'elimsuccess'">Se ha(n) Cancelado Exitosamente el (los) Registro(s).</p>
                    <p *ngSwitchCase="'elimerror'">No se ha(n) Cancelado el (los) Registros, Puede que uno o Varios ya esten Cancelados.</p>
                </div>
            </div>
            <fieldset class="form-group">
                <div class="modal-footer">

                </div>
            </fieldset>
        </div>
    </div>
</div>
<!-- TERMINA Modal CONFIRMACIÓN DE REGISTRO -->