.error {
    border: 1px solid red;
}

.success {
    border: 1px solid green;
}

.titulos {
    border: 10px solid #13445A;
    background: whitesmoke;
    background-clip: padding-box;
    text-align: center;
    background-color: #13445A;
    color: rgb(255, 255, 255);
    padding-top: 10px;
    margin-top: -31px;
    padding: 20px;
    margin-left: -40px;
    margin-right: -40px;
    border-radius: 13px;
}

h2 {
    color: #13445A;
}