.error {
    border: 1px solid red;
}

.success {
    border: 1px solid green;
}

.titulos {
    border: 10px solid #13445A;
    background: whitesmoke;
    background-clip: padding-box;
    text-align: center;
    background-color: #13445A;
    color: rgb(255, 255, 255);
    padding-top: 10px;
    margin-top: -31px;
    padding: 20px;
    margin-left: -40px;
    margin-right: -40px;
    border-radius: 13px;
}

.line-modal {
    border-bottom: 1px solid;
    border-bottom-color: #13445A;
}

.color-modal-label {
    color: #13445A;
}


/*Modal CONFIRMACIÓN DE REGISTRO*/

#modalConfirmaRe .modal-dialog {
    -webkit-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    top: 50%;
    margin: 0 auto;
}

#modalConfirmaRe .modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 1.3rem;
    outline: 0;
}

#modalConfirmaRe .modal-footer {
    justify-content: center !important;
    -ms-flex-align: center !important;
}

#modalConfirmaRe .modal-body {
    padding: 5px;
    margin: 5px;
    text-align: center !important;
    top: 5px;
}


/*MODAL ERR*/

#modalConfirmaReERR .modal-dialog {
    -webkit-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    top: 50%;
    margin: 0 auto;
}

#modalConfirmaReERR .modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 1.3rem;
    outline: 0;
}

#modalConfirmaReERR .modal-footer {
    justify-content: center !important;
    -ms-flex-align: center !important;
}

#modalConfirmaReERR .modal-body {
    padding: 5px;
    margin: 5px;
    text-align: center !important;
    top: 5px;
}
h2 {
    color: #13445A;
}