<div class="container col-9">
    <br/>
    <h2>Desasignar Folios para Vale</h2>
    <hr>
  
  <div>
  
      <label _ngcontent-c2="" class="col-sm-2 col-form-label " for="Cantidad " title="Cantidad">Cajero:</label>
      <select name="tablaRecibos_length" aria-controls="tablaRecibos" 
      class="form-control form-control-sm"></select>

      <label _ngcontent-c2="" class="col-sm-2 col-form-label " for="Cantidad " title="Cantidad">Tipo de Serie:</label>
      <select name="tablaRecibos_length" aria-controls="tablaRecibos" 
      class="form-control form-control-sm"></select>
  
    <label _ngcontent-c2="" class="col-sm-2 col-form-label " for="Cantidad " title="Cantidad">Cantidad:</label>
    <input _ngcontent-c2="" class="form-control resett ml-4 ng-pristine ng-invalid error ng-touched" 
    id="SystemName" maxlength="100" minlength="2" name="cantidad" pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,64}" 
    placeholder="Ingrese Cantidad" required="" title="Ingrese Cantidad" type="text" ng-reflect-required="" ng-reflect-minlength="2" ng-reflect-maxlength="100" ng-reflect-pattern="[a-zA-Zàáâäãåąčćęèéêëėįìíîïłńò" ng-reflect-name="nombre" ng-reflect-model="">
  
    <label _ngcontent-c2="" class="col-sm-2 col-form-label " for="folioini " title="Folio Inicial">Folio Inicial:</label>
   
    <select name="tablaRecibos_length" aria-controls="tablaRecibos" 
    class="form-control form-control-sm"></select>
    <label _ngcontent-c2="" class="col-sm-2 col-form-label " for="foliofinal " title="foliofinal">Folio Final:</label>
    <select name="tablaRecibos_length" aria-controls="tablaRecibos" 
    class="form-control form-control-sm"></select>
   <br/>
    
    <button _ngcontent-c2="" class="btn btn-danger" title="des" disabled="">Desasignar Folio</button>
  
  
  </div>
  
  </div>
